<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <meta name="author" content="H. BAYTAR">

    <!-- Title | Titre -->      
    <title>Framwork | Cadriciel Flask</title>



<!-- Comments -->  

  </head>
  <body>
      <!-- -------------------------------------------------------------------
          NAVBAR - BARRE DE NAVIGATION 
        ------------------------------------------------------------------- --> 
    <header>
        <p>  
          <h1>Python (v 3.x) & Framework Flask  </h1> <!-- Titles | Titres -->
        </p>
    </header>

    <!-- -------------------------------------------------------------------
    PAGE CONTENT | CONTENU DU CORPS DE LA PAGE 
    ------------------------------------------------------------------- --> 
    <main>
        <div class="container-xl mb-6">
            <h3>Quelle heure est-il?</h3>
            <!-- Paragraphe 1 --> 
            <p>
                il est 
                {{heure}} h {{minute}} m {{seconde}} s

            </p>
        </div>
    </main>
</body>
</html>