<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="H. BAYTAR">
    <title>Framwork | Cadriciel Flask</title><!-- Title | Titre -->     






<!-- Comments -->  

  </head>
  <body>
      <!-- -------------------------------------------------------------------
          NAVBAR - BARRE DE NAVIGATION 
          ------------------------------------------------------------------- --> 
    <header>
        
         <!-- Titles | Titres -->
        <p>
          <h1> Bienvenue ! - Grüezi ! - Benvenuti ! - Bainvegni !</h1>    
          <h2>Développement Python (3.x) avec le Framework Flask  </h2> 
        </p>

    </header>

    <!-- -------------------------------------------------------------------
    PAGE CONTENT | CONTENU DU CORPS DE LA PAGE 
    ------------------------------------------------------------------- --> 
<main>

    <div class="container-xl mb-6">
        <h3>Bien débuter | Quickstart</h3>

        <!-- Paragraphe 1 --> 
        <p>
            Vous avez hâte de commencer ? Cette page donne une bonne introduction à Flask. Connectez-vous pour mettre en place un projet et installer Flask. 

            <p>Redirections (avec code PYTHON)<br>
                <a href="{{url_for('heure')}}">Afficher l'heure actuelle</a>            
            </p> 


        </p>

        <!-- Paragraphe 2 --> 
        <p> 
           <!-- Content 2--> 
        </p>

        <!-- Paragraphe 3 -->       
        <p>
            <!-- Content 3--> 
        </p> 
    </div>
</main>
</body>
</html>


     <!--  
        SCRIPT JAVASCRIPT  
        Placez les les balises de SCRIPT JS avant la fin de corps </body>


        <script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
        <script src="../bootstrap/js/bootstrap.bundle.min.js"></script>

        SCRIPT JQuery 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
      -->