<!doctype html>
<html lang="en">
    <head> <!-- HEAD --></head>


    <body> <!-- BODY -->  
          <header><!-- HEADER SECTION -->  
            <nav > HEADER NAVBAR --> </nav>     
          </header>><!-- ./HEADER -->  
             
          <main><!-- MAIN SECTION IN AN OTHER HTML FILE-->
             {% block content %}
             {% endblock %} 
          </main> 

          <footer>  <!--HEADER SECTION --> 
            <nav > FOOTER NAVBAR --> </nav>     
          </footer>
   
          <!-- IMPORT SCRIPT(S) | IMPORTATION DE SCRIPT(S) -->  
          <script
            "JS/CSS Import"
          > </script> 

          <script> 
              //Code JS 
          </script> 
    
      </body><!-- /.BODY -->
  </html><!-- /.HTML -->
