
{% extends "navs.html" %} 
{% block content %}

        <div class="container-xl mb-6">
            <!-- Titles | Titres -->
            <p>
                <h1> Bienvenue ! - Grüezi ! - Benvenuti ! - Bainvegni !</h1>    
                <h2>Art Suisse</h2> 
            </p>


            <p>
                La Suisse possède une étonnante diversité de la production littéraire, artistique, architecturale et musicale. 
                Ceci est dû en grande partie par sa position au cœur de l'Europe à l'intersection des cultures française, germanique et italienne.
            </p>

    <ol>
        <li><strong>Arts plastiques</strong>
            <ul>
                <li>Musées d'art suisse</li>
                <li>Art Basel</li>
                <li>Centre Paul Klee</li>
                <li>Fondation Gianadda </li>
                <li>Kunstmuseum de Bâle</li>
                <li>Musée d'Art moderne et contemporain de Genève </li>
                <li>Musée Tinguely</li>
              </ul>
        </li>

        <li><strong>Arts graphiques</strong>
            <ul>
                 <li>Helvetica</li>
                 <li>Style typographique international</li>
                <li>Bande dessinée </li>
                <li>BDSierre</li>
                <li>Titeuf</li>
              </ul>
        </li>
        <li><strong>Musique et vie musicale </strong>
            <ul>
                 <li>Festival de Jazz de Montreux </li>
                 <li>Orchestre de la Suisse romande</li>
                <li>Paléo Festival Nyon</li>
                <li>Rock Oz'Arènes</li>
                <li>Les Trois Cloches</li>
            </ul>
        </li>

        <li><strong>Littérature</strong>
            <ul>
                <li>Prix littéraire en Suisse</li>
               <li>Prix Schiller </li>
               <li>Bibliothèque nationale suisse</li>
               <li>Liste des bibliothèques cantonales</li>
               <li>Fondation Martin Bodmer </li>
               <li> Écrits suisses - Heidi</li>
             </ul>
        </li>
        <li><strong>Arts du spectacle</strong>
            <ul>
               <li>Anneau Hans-Reinhart </li>
               <li>Béjart Ballet Lausanne </li>
               <li>Cirque Knie </li>
               <li>Prix de Lausanne</li>
             </ul>
        </li>
        <li><strong>Cinéma</strong>
            <ul>
               <li><a href="https://fr.wikipedia.org/wiki/Cat%C3%A9gorie:Film_suisse">Films suisses</a></li> 
               <li>Festival international du film de Locarno </li>
               <li>Cinémathèque suisse</li>
             </ul>
        </li>
        <li><strong>Personnalités artistiques</strong>
            <ul>
                <li><strong>Artistes : </strong>Cuno Amiet, Ursula Andress, Ernest Ansermet, Francesco Borromini, 
                    Mario Botta, Blaise Cendrars, Le Corbusier, Friedrich Dürrenmatt, 
                    Stephan Eicher, Patrick Juvet, Max Frisch, Alberto Giacometti, 
                    Jean-Luc Godard, Grock, Ferdinand Hodler, Arthur Honegger, Marthe Keller, 
                    Paul Klee, Meret Oppenheim, Jean-Jacques Rousseau, C. F. Ramuz, Michel Simon, 
                    Anne-Marie Simond - Louis Soutter, Jean Tinguely, Rodolphe Töpffer, 
                    Félix Vallotton, Zep.

                <li><strong>Collectionneur : </strong>Ernst Beyeler.</li>
             </ul>
        </li>
      </ol>

    </div>
    {% endblock %} 