{% extends "navs.html" %} 
{% block content %}

        <div class="container-xl mb-6">
            <!-- Titles | Titres -->
            <p>
                <h1> Bienvenue ! - Grüezi ! - Benvenuti ! - Bainvegni !</h1>    
                <h2>Culture de la Suisse</h2> 
            </p>

            <p>
                
                La culture de la Suisse est l'ensemble des signes distinctifs qui caractérisent la société suisse. 
                Elle englobe les traditions, les croyances, le patrimoine commun, les langues, la politique culturelle suisse, les moyens d'encouragement et de diffusion de la culture, 
                les manifestations et lieux de culture ainsi que les arts pratiqués en Suisse ou par des Suisses.
            <br>
                La Suisse, par sa situation géographique et son histoire, est imprégnée des cultures latines et germaniques ; 
                les coutumes locales cohabitent selon les régions linguistiques du pays. En effet, le pays possède quatre langues nationales (l'allemand (64 %), le français (20 %), l'italien (6 %) et le romanche (moins de 1 %)). 
                Cette diversité culturelle, essentielle pour la cohésion du pays, participe de l'identité de la Suisse.

            </p>
                
            <h2>Traditions et Coutumes</h2>
            <h3>Patrimoine immatériel</h3>


            <p>
            Une liste de 167 traditions et coutumes sélectionnées parmi les 387 proposées par les cantons a été retenue pour figurer sur la liste des traditions vivantes de Suisse 
            par l'UNESCO pour l'inscription des traditions au patrimoine culturel immatériel de l'humanité.    
            </p>


            <h4>Symboles patriotiques</h4>

            <p><strong>Hymne national</strong></p>
            <p>Jusqu'à la fin du XIXe siècle il n'existe aucune tradition d'hymne suisse. Le chant patriotique Ô Monts indépendants a été le premier hymne patriotique et le plus utilisé jusqu'en 1961. À partir de cette date il est en concurrence avec le Cantique suisse qui devient l'hymne national officielle de la Suisse en 1981. Le Cantique suisse est un chant composé en 1841 par Alberich Zwyssig (1808-1854) avec les paroles de Leonhard Widmer (1809-1867). </p>

            <p><strong>Figure allégorique nationale</strong></p>
            <p>Helvetia est une figure allégorique féminine personnifiant la Suisse. Son nom vient des Helvètes, une peuplade celte qui a occupé le plateau suisse à partir de 100 av. J.-C. environ4, et il désigne également la Suisse. Les Helvètes vont être progressivement incorporés à l'imagerie populaire des ancêtres fondateurs de la nation.
            Au XVIIe siècle, la Confédération ne possédait pas encore de représentation symbolique forte. Au XVIIIe siècle, Helvetia et Guillaume Tell sont des symboles patriotiques suisse. Mais à partir de 1848, c'est Helvetia qui devient l'emblème national du nouvel État fédéral. Ce symbole devient alors omniprésent, que ce soit sous la forme d'œuvre d'art, sur les monuments, sur les timbres ou sur les pièces de monnaie.
            </p>

            <p><strong>Mythes fondateurs de la Suisse</strong></p>
            <ol>

                <li><strong>Les Romains sous le joug : </strong>Ce mythe commémore la victoire de Divico sur les Romains, lors de la bataille d'Agen (107 av. J.-C.).</li>
                <li><strong>Le serment du Grütli : </strong>Cet accord entre trois communautés situées dans ce qui forme de nos jours la Suisse primitive, a été considéré jusqu'au XIXe siècle comme l'acte fondateur de la Confédération suisse et reste de nos jours un élément important de l'imaginaire populaire. Il ne doit pas être confondu avec le pacte fédéral d'alliance perpétuelle de 1291 entre les communautés d'Uri, de Schwyz et de Nidwald.</li>
                <li><strong>Guillaume Tell : </strong>Il aurait vécu dans le canton d'Uri au début du XIVe siècle et se serait rebellé contre le bailli autrichien qui l'avait défié de tirer un carreau d'arbalète dans une pomme posée sur la tête de son fils. Au XIXe siècle Tell devient le symbole légendaire d’une identité nationale ancestrale.</li>
                <li><strong>La destruction des châteaux : </strong>La légende de la destruction des châteaux raconte que des petits châteaux en forme de tour construits vers 1300 par les Habsbourg voulant faire administrer leurs biens situés sur le territoire des Waldstätten par des baillis étrangers, se heurtent à la résistance des habitants des vallées et que ceux-ci ont détruit ces petits châteaux peu de temps après, vers 1314.</li>
                <li><strong>Winkelried : </strong>Arnold von Winkelried est un héros légendaire qui permit aux Confédérés de remporter la victoire sur les troupes du duc Léopold III d'Autriche lors de la bataille de Sempach le 9 juillet 1386, les Suisses n'arrivant pas à percer le front des lances autrichiennes.</li>
                <li><strong>La soupe au lait de Kappel : </strong>Légende suisse symbolisant l´esprit de neutralité helvétique. Lors de la première guerre de Kappel qui est une guerre de religion ayant opposé les cantons catholiques aux protestants, avant le déclenchement des hostilités, ayant pris connaissance de négociations de paix, les soldats des deux camps auraient partagé sur la frontière qui les séparait une soupe faite de lait et de pain, préparée dans un grand chaudron.</li></li>
            </ol>


            <h4>Langues</h4>
                <p>
                    Pays plurilingue, la Suisse est partagée en quatre zones linguistiques où, dans chacune d'entre elles, une seule langue officielle a cours, soit l'allemand, le français, l'italien ou le romanche.
                    Quatre grands principes sont inscrits dans la Constitution fédérale, ce sont : l'égalité des langues, la liberté des citoyens en matière de langue, le principe de la territorialité des langues et la protection des langues minoritaires. Trois langues officielles (allemand, français et italien) sont égales en droit au niveau fédéral depuis 1848, le romanche est partiellement langue officielle.
                    En vertu du principe de territorialité, les frontières linguistiques sont fixées par les cantons. Certains cantons sont plurilingues. Le Röstigraben est le nom que l'on donne à la frontière culturelle et linguistique entre l'allemand et le français. Cette frontière trouve ses racines dans l'histoire.
                </p>

                <h4>Religion</h4>
                <p>
                    En Suisse, la liberté de conscience et de croyance est garantie par la Constitution; Toute personne a le droit, mais ne peut être contrainte, d’adhérer à une communauté religieuse et de suivre un enseignement religieux.
                    En l'an 2000, les différentes églises catholiques représentent environ 42 % de la population de la Suisse, les différentes églises protestantes environ 35 %. 11 % se déclarent sans appartenance et 4,33 % ne donnent pas d'indications. Viennent ensuite les communautés islamiques avec 4,3 % puis, avec moins d'un demi pour-cent chacune, les confessions juive, bouddhiste et hindouiste.
                </p>


            <h4>Fêtes</h4>
            <p>
                Les motifs des fêtes en Suisse sont religieux, historiques et sociaux. Les motifs commerciaux apparaissent au xxe siècle. La plupart des fêtes ont un cycle annuel selon le rythme des saisons et des travaux agricoles, les fêtes religieuses selon le rythme de l'année liturgique. 
                Au bas Moyen Âge et au début de l'époque moderne existaient plus de cent jours fériés en Suisse. Ce nombre s'est considérablement réduit avec la Réforme puis les Lumières catholiques et l'industrialisation. 
                Les rites et fêtes qui accompagnent l'individu dans ses changements de statut social tels que baptême, confirmation et mariage, 
                qui définissaient autrefois le rôle de l'individu dans la communauté, ont maintenant uniquement lieu dans le cercle privé où le public n'est éventuellement admis qu'en spectateur. 
                <br><br>
                De par la diversité culturelle, la plupart des fêtes sont locales ou régionales. Certaines fêtes sont célébrées dans toute la Suisse comme la fête nationale suisse, le Jeûne ou les principales fêtes religieuses.
                La fête nationale suisse est célébrée le 1er août. Chaque commune organise à la tombée de la nuit feu de joie, cortège aux lampions et allocutions. Éventuellement un feu d'artifice. C'est un jour férié officiel dans toute la Suisse depuis 1994 seulement.
                <br><br>
                Le Jeûne fédéral est institué en 1832, sur proposition du canton d'Argovie, il a été décrété « jour d’action de grâces, de pénitence et de prière pour toute la Confédération helvétique » par la Diète fédérale. Il est fixé au troisième dimanche de septembre. Le canton de Genève continue d'observer sa propre date de jeûne, le jeudi qui suit le premier dimanche de septembre (il est appelé Jeûne genevois). Des journées de prière et de pénitence hebdomadaires ou mensuelles existent à partir du xvie siècle. Les cantons réformés les instituèrent en raison des épidémies de peste et des disettes (Bâle en 1541, Zurich en 1571, Berne en 1577). Genève avait institué dès 1567 un jour de jeûne et de prière, répété irrégulièrement, au gré de l'actualité locale. Dès 1643 les cantons catholiques instituèrent eux aussi des journées de recueillement et de prière.
                <br><br>
                Parmi les fêtes mettant en scène le règne animal on trouve les combats de reines, la Poya et le Marché-concours de Saignelégier.  
                
            </p>
         </div>
         {% endblock %} 