
{% extends "navs.html" %} 
{% block content %}

        <div class="container-xl mb-6">
    <!-- Titles | Titres -->
    <div>
        <h1>Bienvenue ! - Grüezi ! - Benvenuti ! - Bainvegni !</h1>
        <h2>Education en Suisse</h2>
    </div>

<div>
    <p>La Confédération suisse et les cantons se répartissent les compétences dans le domaine de l'enseignement. Les cantons jouissent d'une grande autonomie qui varie toutefois selon le type d'institution et le niveau d'étude. Le domaine des Écoles polytechniques fédérales relève de la compétence de la Confédération qui légifère sur la formation professionnelle supérieure, de même qu'elle encourage la recherche.</p>
    <p>
      <ol>
        <li>
          <strong>Etudes supérieures en Suisse</strong> : également appelées degré tertiaire de l'éducation. L'offre de formation à ce niveau en Suisse est très importante. Elle se divise principalement en deux domaines, celui des hautes écoles (universitaires ou non) et celui de la formation professionnelle supérieure.<ul>
            <li>
              Le domaine des <strong>hautes écoles</strong>comprend les hautes écoles universitaires (universités cantonales et écoles polytechniques fédérales) ainsi que les hautes écoles spécialisées.
            </li>
            <li>
              Le domaine de la <strong>formation professionnelle</strong> supérieure est constitué par les écoles supérieures et par toutes les autres formations de degré tertiaire préparant au brevet fédéral ou au diplôme fédéral. La formation professionnelle supérieure se caractérise par une offre large et diversifiée d'institutions privées.
            </li>
          </ul>
        </li>

        <li>
          <strong>Enseignement secondaire :</strong>
          <ul>
            <li>
              <strong>Degré secondaire I :</strong> il fait suite au degré primaire et généralement pour une durée de 3 ans. Avec lui s'achève l'obligation scolaire, à l'exception du canton de Genève où la formation est obligatoire jusqu'à 18 ans révolus depuis 2015.
            </li>
            <li>
              <strong>Formation professionnelle initiale (apprentissage) :</strong>permet l'obtention d'un certificat fédéral de capacité (CFC) ou d'une attestation de formation professionnelle.
            </li>
            <li>
              <strong>Degré secondaire II :</strong> constitue la première phase de la scolarité post-obligatoire, à l'exception du canton de Genève. il comprend la maturité (gymnasiale, professionnele, spécialisée) école supérieure de commerce, le collège/ le lycée et la passerelle (Dubs). La passerelle permet de complèter la maturité professionnelle/ spécialisée afin de s'inscrire à l'université.
            </li>
            <li>
              <strong>École de culture générale :</strong> peut être suivie après une maturité spécialisée pour aller dans une HES.
            </li>
          </ul>
        </li>
        <li>
          <strong>Recherche :</strong>
          <ul>
            <li>
              <strong><a href="https://fr.wikipedia.org/wiki/Liste_des_Suisses_laur%C3%A9ats_du_prix_Nobel">Suisses lauréats du prix Nobel</a>:</strong>
              le Prix Nobel est une récompense décernée chaque année par la fondation Nobel. Il distingue des figures scientifiques éminentes ayant rendu de grands services à l'humanité par une œuvre et des travaux considérés comme une exceptionnelle contribution.
            </li>
            <li>
              <strong>Académies suisses des sciences :</strong>
              organisation suisse basée à Berne, regroupant les quatre académies scientifiques suisses, ainsi que le centre de compétences TA-SWISS, la Fondation Science et Cité et d'autres réseaux scientifiques. Elles mettent en réseaux les sciences à un niveau régional, national et international.
            </li>
            <li>
              <strong>Centre suisse d'électronique et de microtechnique (CSEM):</strong>
              Le CSEM est un centre de recherche et développement basé en Suisse, actif dans la micro-fabrication de précision, la numérisation et l'énergie durable. Le CSEM est une courroie de transmission entre les mondes académiques et industriels. C’est une usine à idées, un pôle d’excellence technologique, un vecteur de soutien à l’innovation et un accélérateur de la transformation numérique, au service des entreprises. Le siège social de l'organisation est situé à Neuchâtel en Suisse.
            </li>
            <li>
              <strong>Institut suisse de recherche expérimentale sur le cancer</strong>
            </li>
            <li>
              <strong>Large Hadron Collider</strong>
              Le Grand collisionneur de hadrons (en anglais : Large Hadron Collider — LHC) est un accélérateur de particules mis en fonction en 2008 au CERN et situé dans la région frontalière entre la France et la Suisse, entre la périphérie nord-ouest de Genève et le pays de Gex (France). C'est l'accélérateur de particules le plus puissant construit à ce jour, a fortiori depuis son amélioration achevée en 2015 après deux ans de mise à l'arrêt. Il est même présenté comme le plus grand dispositif expérimental jamais construit pour valider des théories physiques Note 1. En 2012, il confirme l'existence du boson de Higgs. Les physiciens espèrent apporter des éléments de réponse à plusieurs questions concernant la physique des particules et la cosmologie à l'aide de ces détecteurs
            </li>
            <li>
              <strong>Organisation européenne pour la recherche nucléaire (CERN):</strong>
              Institut de recherche nucléaire et couramment désignée sous l'acronyme CERN ou Cern, le CERN est le plus grand centre de physique des particules du monde. Il se situe à quelques kilomètres de Genève, en Suisse, à cheval sur la frontière franco-suisse.
            </li>
            <li>
              <strong>Solar Impulse :</strong>Solar Impulse est un avion solaire. C'est le premier avion à avoir effectué un tour du monde sans carburant ni émission polluante pendant le vol.
            </li>
            <li>
              <strong>Tokamak :</strong>
              Un tokamak est un dispositif de confinement magnétique expérimental explorant la physique des plasmas et les possibilités de produire de l'énergie par fusion nucléaire. Il existe deux types de tokamaks aux caractéristiques sensiblement différentes, les tokamaks traditionnels toriques (objet de cet article) et les tokamaks sphériques. C'est une technologie candidate au développement d'une centrale de production d'électricité par fusion nucléaire fonctionnant selon le principe d'un échange de chaleur avec un fluide. Il convient néanmoins dans un premier temps de démontrer avec ITER que l'énergie produite par les réactions de fusion reste supérieure à l'énergie consommée pour maintenir le plasma en conditions (de réaliser ces réactions de fusion).
            </li>
          </ul>
        </li>
        <li>
          <strong>Divers</strong>
          <ul>
            <li>
              <strong>École privée en Suisse :</strong> Institut Le Rosey, Ecole Lémania, Ecole Moser, Institut de hautes études de Glion, Institut Monte-Rosa, Polycom Lausanne, Villa Saint-Jeant, Collège alpin Beau Soleil, etc.
            </li>
            <li>
              <strong>Enseignement de la musique en Suisse :</strong>
              L'enseignement de la musique est délivré généralement dans une Haute école de musique (HÉM) ou dans un conservatoire (Genève, Lausanne, Neuchâtel, Sion, Fribourg, Delémont, Berne). La durée des études est de 5 ans en moyenne (Licence (3 ans) et Master (2 ans supplémentaires)).
            </li>
            <li>
              <strong>HarmoS :</strong>Le concordat définit de façon unitaire l'âge de début de la scolarité (quatre ans révolus au 31 juillet), la durée de l'école (onze ans, dont deux ans d’école enfantine) et la durée des degrés scolaires. Il identifie par ailleurs les finalités de l'école suisse au niveau de la scolarité obligatoire, dépeint les instruments qui permettent d'assurer et de développer la qualité du système d’éducation à l'échelon national et désigne les standards nationaux de formation à caractère contraignant.
            </li>
            <li>
              <strong>Village d'enfants Pestalozzi :</strong> village d’enfants nommé d’après le pédagogue Johann Heinrich Pestalozzi et situé à Trogen, Appenzell Rhodes-Extérieures, Suisse et à Wahlwies près de Stockach. Il fut créé en 1945 pour les enfants victimes de la guerre. La commune de Trogen mit un terrain à disposition à cet effet. Le village accueillit, dès les premiers mois de 1960, des enfants tibétains encadrés par un couple de Tibétains, parents de substitution.
            </li>
          </ul>
        </li>
        <li>
          <a href="https://fr.wikipedia.org/wiki/Portail:Suisse">Portail Suisse (fr.Wikipédia.org)</a>
        </li>
      </ol>
    </p>
  </div>
{% endblock %}