{% extends "navs.html" %} 
{% block content %}

        <div class="container-xl mb-6">
            <!-- Titles | Titres -->
            <p>
                <h1> Bienvenue ! - Grüezi ! - Benvenuti ! - Bainvegni !</h1>    
                <h2>Géographie Suisse</h2> 
            </p>


<p>
    « La Suisse est un pays d'Europe occidentale composé de 26 cantons souverains ayant pour capitale fédérale la ville de Berne. Elle est entourée de cinq pays : l'Autriche et le Liechtenstein à l'est, l'Allemagne au nord, la France à l'ouest et l'Italie au sud, et ne dispose pas d'accès à la mer. 
    Les points extrêmes du pays se situent au nord à Oberbargen (canton de Schaffhouse), au sud à Chiasso (canton du Tessin), à l'ouest à Chancy (canton de Genève) et à l'est au Piz Chavalatsch (canton des Grisons). 
    Le pays fait 350 km dans sa plus grande longueur et 220 km dans sa plus grande largeur.
    <br><br>
    Le relief de la Suisse est très hétérogène avec notamment trois grandes structures géographiques : les Alpes, le plateau et le Jura. Le point culminant du pays est la pointe Dufour avec ses 4 634 m d'altitude. 
    La topographie des Alpes et les conditions climatiques y régnant, diverses influences atlantique, continentale ou méditerranéenne, font de la Suisse le « château d'eau de l'Europe ». 
    Le Rhin, le Rhône et des affluents du Danube et du Pô prennent leur source dans le massif du Saint-Gothard, massif des Alpes qui compte de nombreux glaciers, notamment le glacier d'Aletsch, plus grand glacier d'Europe.
    <br><br>
    Fin 2007, la Suisse compte 7 593 494 habitants. Le relief du pays a concentré l'essentiel de la population sur le plateau sur lequel on trouve la plupart des grandes villes, comme Genève, Lausanne, Lucerne, Berne, Bâle et Zurich. 
    Cette population parle quatre langues nationales (l’allemand, le français, l’italien et le romanche) réparties dans des aires géographiques assez bien délimitées. »
</p>

 <!-- List -->
    <ol>
        <li> <strong>Montagnes en Suisse : </strong> Deux massifs montagneux sont, en partie, situés en Suisse. Le massif du Jura au nord-ouest et les Alpes au sud.
            <ul>
                <li><strong>Alpes suisses: </strong>Différents massifs composent la partie suisse des Alpes : Alpes bernoises, Alpes glaronaises, Alpes lépontines, Alpes rhétiques, Alpes uranaises, Alpes valaisannes. Parmi les 82 sommets des Alpes de plus de 4 000 mètres, 41 se trouvent dans les Alpes valaisannes, 9 dans les Alpes bernoises et 1 dans la chaîne de la Bernina. La Pointe Dufour située sur le Mont Rose dans les Alpes Valaisannes est avec 4 634 mètres le point culminant du pays. Le Cervin (4 478 mètres), avec sa forme pyramidale caractèristique est un des symboles du pays. Le Dom des Mischabel (4 545 mètres) est le plus haut sommet totalement dans le pays.La Pointe Dufour sur le Mont Rose.
                    L'Eiger, dans les Alpes bernoises, est remarquable par sa face nord constituée d'une paroi de 1 800 mètres quasi verticale. Son nom signifie l'« ogre ». Cette face nord, la plus grande face des Alpes, fut considérée comme une des trois dernières grandes difficultés des Alpes, avec les faces nord du Cervin et des Grandes Jorasses.
                </li>
                <li><strong>Massif du Jura: </strong> 
                    Le point culminant du massif du Jura est le Crêt de la Neige (1 720 mètres) en France. En Suisse, le plus haut sommet du Jura est le Mont Tendre (1 679 mètres). 
                    Les autres sommets suisses du Jura sont : La Dôle, le Chasseral, Le Chasseron, Le Suchet, Le Noirmont, les Aiguilles de Baulmes, La Barillette, la Dent de Vaulion, le Mont Racine, et le Weissenstein. 
                </li>
              </ul>
        </li>

        <li> <strong>Lacs en Suisse: </strong> La Suisse compte plus de 175 lacs, parmi lesquels 15 lacs ont une superficie supérieure à 10 km2. Le lac de Neuchâtel est le plus grand lac entièrement situé en Suisse. 
            La liste par ordre décroissant de taille :        
            <ul>
                <li>le lac Léman</li>
                <li>le lac de Constance</li>
                <li>le lac de Neuchâtel</li>
                <li>le lac Majeur</li>
                <li>le lac des Quatre-Cantons</li>
                <li>le lac de Zurich</li>
                <li>le lac de Thounele lac de Lugano</li>
                <li>le lac de Bienne</li>
                <li>le lac de Zoug</li>
                <li>le lac de Brienz</li>
                <li>le lac de Walenstadt</li>
                <li>le lac de Morat</li>
                <li>le lac de Sempach</li>
                <li>le lac de Hallwil</li>
            </ul>
                     
        <li><strong></strong> Cours d'eau en Suisse : La Suisse compte 59 cours d'eau de plus de 30 km. Les eaux de ces rivières rejoignent la mer du Nord (Rhin, Aar...), la mer Méditerranée (Rhône, Doubs ...), la mer Adriatique (Tessin, affluent du Pô) et la mer Noire (Inn, affluent du Danube).</li>

        <li><strong></strong> Glacier en Suisse : Tous les glaciers suisses sont situés dans les Alpes. Le glacier d'Aletsch est le plus grand d'Europe. Il note d'autres glaciers remarquables : glacier de l'Oberaar, glacier du Trient, glacier du Giétro, glacier du Rhône, glacier de Moiry, glacier d'Arolla.

        </li>
        <li><strong></strong> Vallée en Suisse 
            <ul>
                <li><strong></strong> Quelques vallées du bassin de l'Aar : Diemtigtal, Gadmertal, Simmental ...  </li>
                <li><strong></strong> Quelques vallées du bassin du Rhône : Vallée du Rhône, Vallée de Conches, Vallée de Zermatt, Val d'Entremont ...</li>
                <li><strong></strong> Quelques vallées du bassin du Rhin : Rheinwald, Vallée de Schams ...</li>
            </ul>
        </li>
        <li> <strong></strong> Région en Suisse  
            <ul>
                <li>Il existe trois grandes régions linguistiques : Suisse alémanique, Suisse romande, Suisse italienne. </li>
                <li>D'autres régions : Chablais valaisan, Chablais vaudois, Emmental, Napf, Oberland bernois, Jura bernois, Lavaux, Seeland, Engadine, Oberland zurichois, Fricktal.</li>
            </ul>
        </li>
        <li>  <strong></strong> Géographe suisse
            <ul>
                <li>Aegidus Tschudi</li>
                <li>Johannes Stumpf</li>
                <li>Josias Simmler</li>
                <li>Johann Jakob Scheuchzer</li>
                <li>Albrecht von Haller</li>
                <li>Horace-Bénédict de Saussure</li>
                <li>Bernhard Studer</li>
                <li>Louis Agassiz</li>
                <li>Ludwig Rütimeyer</li>
                <li>Albert Heim</li>
                <li>Guillaume-Henri Dufour</li>
            </ul>
        </li>
        <li>   <strong></strong> Office fédéral
            <ul>
                <li>Office fédéral de l'environnement</li>
                <li>Office fédéral de météorologie et de climatologie</li>
                <li>Office fédéral de topographie</li>
                <li>Office fédéral du développement territorial</li>
            </ul>
        </li>
        <li><strong></strong> Subdivision et Cantons en Suisse : 
            La Suisse est une confédération de 26 cantons souverains. 
            Il s'agit des cantons 
            <ol>
                <li>d'Appenzell Rhodes-Extérieures</li>
                <li>d'Appenzell Rhodes-Intérieures</li>
                <li>d'Argovie</li>
                <li>de Bâle-Campagne</li>
                <li>de Bâle-Ville</li>
                <li>de Berne</li>
                <li>de Fribourg</li>
                <li>de Genève</li>
                <li>de Glaris</li>
                <li>des Grisons</li>
                <li>du Jura</li>
                <li>de Lucerne</li>
                <li>de Neuchâtel</li>
                <li>de Nidwald</li>
                <li>d'Obwald</li>
                <li>de Saint-Gall</li>
                <li>de Schaffhouse</li>
                <li>de Schwytz</li>
                <li>de Soleure</li>
                <li>du Tessin</li>
                <li>de Thurgovie, d'Uri, du Valais, de Vaud, de Zoug et de Zurich</li>                          
            </ol>
           Presque la moitié de ces cantons sont eux-mêmes découpés en districts. Un seul canton ne possède pas de commune.
        </li>
        <li><a href="https://fr.wikipedia.org/wiki/Portail:Suisse">Portail Suisse (fr.Wikipédia.org)</a></li>

      </ol>



    </div>

    {% endblock %} 