<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="H. BAYTAR">
    <title>Framwork | Cadriciel Flask</title><!-- Title | Titre -->     
  </head>
  <body>
      <!-- -------------------------------------------------------------------
          HEADER (FOR EXAMPLE: NAVBAR)
          ------------------------------------------------------------------- --> 
    <header>
        <p>
          <h1> Bienvenue ! - Grüezi ! - Benvenuti ! - Bainvegni !</h1>    
          <h2>Développement Python (3.x) avec le Framework Flask  </h2> 
        </p>
    </header>

    <!-- -------------------------------------------------------------------
    MAIN SECTION (PAGE CONTENT)
    ------------------------------------------------------------------- --> 
    <main>
        <div class="container-xl mb-6">
            <h3>Bien débuter | Quickstart</h3>
            <p>
                Vous avez hâte de commencer ? Cette page donne une bonne introduction à Flask. Connectez-vous pour mettre en place un projet et installer Flask. 
                <p>Redirections (avec code PYTHON)<br>
                    <a href="{{url_for('login')}}">retour à la page Login (FORM GET) </a>           
                </p> 
            </p>
        </div>
    </main>
</body>
</html>