
{% extends "navs_session.html" %} 
{% block content %}

        <div class="container-xl mb-6">
            <!-- Titles | Titres -->
            <p>
                <h1> Bienvenue ! - Grüezi ! - Benvenuti ! - Bainvegni !</h1>    
                <h2>Economie de la Suisse</h2> 
            </p>
            <p>
                L’économie suisse est l’une des plus développées du monde. Le taux de chômage y est particulièrement bas ainsi que le taux d'inflation. 
                L’industrie est spécialisée dans la production à haute valeur ajoutée. La Suisse dispose de ressources naturelles comme l’énergie hydraulique ou le bois, mais importe les ressources d'énergie fossile.
            </p>

            <p>
                L'économie de la Suisse figure parmi les plus prospères et les plus développées au monde en dépit de l'absence de matières premières et de son absence de débouché maritime. 
                Le taux de chômage y est structurellement bas, de même que le taux d'inflation. L'industrie, tournée vers l'exportation, est largement spécialisée dans les produits à haute valeur ajoutée.

                Comme la plupart des pays européens, la Suisse est essentiellement un pays de petites et moyennes entreprises (PME) occupant moins de 500 personnes, phénomène renforcé par le développement du secteur tertiaire : plus de 99 % des entreprises privées non agricoles étaient ainsi des PME en 2005, un chiffre qui a peu varié depuis la seconde moitié du xxe siècle : l'évolution du nombre moyen d'emplois à temps plein ne montre pas de tendance à la concentration malgré le dynamisme accru des grandes entreprises privées.
            </p>

    <ol>
        <li> <strong>Agriculture : </strong> Le secteur primaire occupe une place minime dans l'économie suisse car les coûts ne permettent pas la vente à l'étranger sans des aides de l'État se chiffrant en milliards de francs. Ces aides qui permettent de faire vivre dans des conditions raisonnables bon nombre d'agriculteurs-paysagers, sont définies par un article constitutionnel50. 
            <ul>
                <li>Dôle (AOC) : La Dôle est un des vins suisses les plus connus. 
                    Contrairement à une opinion répandue, elle n'est pas un mono-cépage, mais l'alliance de deux cépages, le pinot noir qui lui apporte son tempérament et son bouquet et le gamay 
                    qui lui donne sa robustesse. 
                    La Dôle est souvent qualifiée de « capiteuse, racée et moelleuse ». Sa robe a des reflets de pourpre. 
                    La Dôle est issue de pinot noir pur ou d'un assemblage d'au moins 85 % de pinot noir et de gamay, au sein duquel le pinot noir doit être majoritaire. Les 15 % restants peuvent être constitués de n'importe quel autre cépage autorisé en Valais.</li>
                <li>Élevage bovin</li>
                <li>Œil-de-perdrix (vin suisse, composé exclusivement de Pinot Noir pressé en blanc) </li>
                <li>Viticulture (La viticulture est l'activité agricole consistant à cultiver une certaine variété de vigne produisant un fruit pour la consommation humaine : le raisin.) </li>
                 <li><strong>Entreprises agroalimentaires :</strong>  Hero, Bell, Emmi, Aryzta, Micarna, Netsté, Lindt, Bischofszell, Orior, Ospelt, Cremo, etc. </li>               
              </ul>
        </li>

        <li><strong>Entreprises suisses</strong>
            <ul>
                <li><strong>Entreprises pharmaceutiques : </strong> Abionic, Actelion, Berna Biotech, Debiopharm, Ferring Pharmaceuticals, Galderma, Galenica, Novartis, Nycomed, Roche, Sandoz (entreprise chimique), Serono, Sun Store, Weleda</li>
                <li><strong>Groupe ABB : </strong>entreprise leader en ingénierie à l'échelle mondiale, qui développe et déploie des produits et des systèmes à haute efficacité énergétique. </li>
                <li>Breitling (montres)</li>
                <li>La Poste suisse  </li>
                <li><strong>Nestlé : </strong>Le groupe Nestlé possède 413 usines dans. 85 pays du monde et son siège est à Vevey. En Suisse, l'entreprise a enregistré CHF 1,262 milliard de ventes en 2017.</li>
                <li>Novartis (multinationale pharmaceutique suisse basée à Bâle, en Suisse)</li>
                <li>Rolex (concepteur et fabricant de montres suisse basé à Genève, en Suisse. Fondée en 1905 sous le nom de Wilsdorf et Davis par Hans Wilsdorf et Alfred Davis.)</li>
                <li>Schindler (Ascenseurs, escaliers mécaniques et trottoirs roulants)</li>
               <li>Swatch Group (la plus grande entreprise horlogère du monde et emploie environ 31 000 personnes dans 50 pays.)</li>
               <li>Swisscom (plus grande entreprise de télécommunications et l'une des plus grandes entreprises informatiques de Suisse. Siège à Ittigen, Berne)</li>
            </ul>
        <li><strong>Services : </strong> 
            Entreprises du secteur financier, Banque nationale suisse, Banques cantonales, Credit Suisse, Migros, La Suva (plus grand assureur-accidents de Suisse, également appelée Caisse nationale suisse d'assurance en cas d'accidents), 
            Swiss Re (deuxième plus grande entreprise de réassurance (assurances dommages et assurances vie) au monde après Munich Re), UBS</li>     
        </li>

        <li><strong>Transport et Énergie : </strong>
            Entreprises de télécommunications, Transport aérien en Suisse, Hydroélectricité, Barrages (liste des lacs de barrage), Industrise nucléaires en Suisse, 
            CarPostal, CFF (principale compagnie ferroviaire de Suisse), Musée suisse des transports, Swiss, TCS, Transport d'automobiles accompagnées
        </li>
        </ul>
        </li>
        <li> <strong>Divers : </strong> 
        
            <ul>
                <li><strong>Entreprises touristiques : </strong> Genève Aéroport, Palexpo, Restaurant Le Chef, Lausanne Palace, Hotel Ramada Encore Genève, etc.</li>
                <li><strong>Marques suisses : </strong>Caran d'Ache, Ricola, Rolex, Weber (Stephen Schweiz GmbH), Pelikan, Lindt, Tissot, Victorinox, V-Zug, Kuhn Rikon, Swatch, Omega, etc.</li>
                <li><strong>Forum de Davos : </strong> réunion annuelle de janvier à Davos, en Suisse. Il réunit des patrons de multinationales, des banquiers, des milliardaires, de puissants responsables politiques et des intellectuels influents du monde entier. Lors de l'édition 2020, sur 3 000 participants, 
            près de la moitié arrivent avec des jets privés.  </li>
                <li><strong>Organisation mondiale du commerce : </strong>s'occupe des règles régissant le commerce international entre les pays.</li>
                <li><strong>Secret bancaire suisse : </strong>fait l'objet de controverses régulières et a joué un rôle important dans la politique de la Suisse au xxe siècle.  </li>
                <li><strong>Swiss Market Index (SMI®) : </strong>premier indice boursier suisse. Il est composé de 20 titres parmi les plus importants et les plus 
                    liquides du Swiss Performance Index (SPI).</li>
                <li><strong>SIX Swiss Exchange : </strong> entreprise financière suisse basée à Zurich, elle gère la Bourse nationale</li>
            </ul>        
        </li>
        </li>

      </ol>
    </div>

{% endblock %} 