{% extends "navs_session.html" %}
{% block content %}
<!-- 
    DEBUT DE L'INSERTION DU CONTENU DU FICHIER navs.html 
    L'nsertion du contenu du fichier navs.html contient 
        - les balises de la structure de base d'un fichier HTML (<head>)
        - l'en-tête et les déclarations d'un fichier HTML (<header>)
        - la barre de navigation (<nav>)
        - la barre de pied de page (<footer>) 
-->

<div class="container-xl mb-6">
    <h3>ERREUR</h3>

    <!-- DECLARE REDIRECTION IN HTML FILE -->

    <!-- METHOD - HTML -->
    <h3>Requête rejetée ! S'il vous plait, vérifier vos droits d'accès ... </h3>
    <p>Navigation <br>
        <a href="/">Accueil </a>
        <br>
        <a href="/login">Login (Inscription | Authentification)</a>
        <br>
    </p>
    <p>Jeux <br>
        <a href="/jeu">Jeu du nombre mystère </a>
        <br>
    </p>

    <!-- METHOD - HTML -->
    <p>Gestion des élèves <br>
        <a href="/recherche">Rechercher des élèves</a>
        <br>
        <a href="{{url_for('eleves')}}">Gestion des élèves</a>
        <br>
        <a href="{{url_for('register')}}">Enregistrer élève (nouveau)</a>

    </p>
    <!-- METHOD - CDOE PYTHON -->
    <p>Portail suisse<br>
        <a href="{{url_for('index_ch')}}">Boîte à outils suisse </a>
        <br>
        <a href="{{url_for('montagnes')}}">Les montagnes suisses </a>
        <br>
        <a href="{{url_for('welcome')}}">retour à la page d'Accueil </a>

    </p>
</div>

{% endblock %}
<!-- 
        FIN DE LA DECLARATION D'INSERTION DU CONTENU DU FICHIER navs.html 
        Contient 
            - les balises de la structure de base d'un fichier HTML (<head>)
            - l'en-tête et les déclarations d'un fichier HTML (<header>)
            - la barre de navigation (<nav>)
            - la barre de pied de page (<footer>)
    -->