<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="H. BAYTAR">
      <title>Montagnes</title><!-- Title | Titre -->   

      <!-- Comments -->  

      <!-- ---------------------------------------------------------------------------
        TESTS  
      --------------------------------------------------------------------------------- --> 
        <!--  Test dans le navigateur web (Chrome, Firefox, etc.)
          <script> let d = new Date(); alert("Today's date is " + d); </script>-->

        <!--  Test dans la console du navigateur web (Chrome, Firefox, etc.)
          <script> console.log("This is my script / Ceci est mon premier script") </script> -->    


      <!-- -------------------------------------------------------------------
        IMPORT SCRIPT(S) | IMPORTATION DE SCRIPT(S)
      ------------------------------------------------------------------- --> 

        <!-- fichier de STYLE -->   
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/my_style.css')}}">        
        <link rel="stylesheet" href="{{url_for('static', filename='css/my_carousel.css')}}">    
        <!-- Bootstrap core CSS  -->  
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bootstrap-5.3.3/dist/css/bootstrap.min.css')}}">  

       
    </head>
  
  <!-- ---------------------------------------------------------------------------
    BODY 
  --------------------------------------------------------------------------------- --> 
  <body>

          <!-- ---------------------------------------------------------------------------
            HEADER OF BODY | NAVBAR - BARRE DE NAVIGATION  
          --------------------------------------------------------------------------------- --> 
          <header>
            <!-- Navbar | Barre de navigation -->  
            <nav class="navbar navbar-dark bg-dark" aria-label="First navbar example">
              <div class="container-fluid">
      
                <!-- add Logo to Navbar --> 
                <!-- Navbar button  -->  
                <a class="navbar-brand" href="{{url_for('welcome')}}">
                  <div class="logo-image">
                    <img src="{{url_for('static', filename='img/logo-drapeau.ico')}}" class="img-fluid">
                  </div>
                </a>
      
                <!-- Navbar button| allways displayed button -->
                <a class="navbar-brand" href="#">Portail Suisse</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#id_sitenavbar" aria-controls="id_sitenavbar" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
      
                <!-- nav-items (nav-links) -->  
                <div class="collapse navbar-collapse" id="id_sitenavbar">
                  <ul class="navbar-nav me-auto mb-2">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{{url_for('welcome')}}">Accueil</a>
                    </li>
                    
                    <!-- dropdown submenu 1 -->  
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="id_dropdown-ch" data-bs-toggle="dropdown" aria-expanded="false">Boîte à outils</a>
                      <ul class="dropdown-menu" aria-labelledby="id_dropdown-ch">
                        <li><a class="dropdown-item" href="{{url_for('culture')}}"   >Culture</a></li>
                        <li><a class="dropdown-item" href="{{url_for('histoire')}}">Histoire</a></li>
                        <li><a class="dropdown-item" href="{{url_for('art')}}">Art</a></li>
                        <li><a class="dropdown-item" href="{{url_for('economie')}}"   >Economie</a></li>
                        <li><a class="dropdown-item" href="{{url_for('education')}}"  >Education</a></li>
                        <li><a class="dropdown-item" href="{{url_for('geographie')}}"   >Geographie</a></li>        
            
                      </ul>
                    </li>
      
                    <li class="nav-item">
                      <a class="nav-link" href="{{url_for('montagnes')}}">Montagnes</a>
                    </li>
      
                    <!-- dropdown submenu 2 -->  
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="id_dropdown-ch" data-bs-toggle="dropdown" aria-expanded="false">Help | Aide </a>
                      <ul class="dropdown-menu" aria-labelledby="id_dropdown-ch">
                        <li><a class="dropdown-item" href="{{url_for('faq')}}">FAQ</a></li>
                        <li><a class="dropdown-item" href="{{url_for('contact')}}">Contact</a></li>    
                        <li><a class="dropdown-item disabled" href="{{url_for('administration')}}" tabindex="-1" aria-disabled="true">Administration</a></li>                    
      
                      </ul>
                    </li>
      
                  </ul>
      
                  <!-- Search bar | Barre de recherche -->  
                  <form>
                    <input class="form-control" type="text" placeholder="Search | Rechercher" aria-label="Search">
                  </form>
      
      
      
                </div><!-- Comments -->  
              </div>
            </nav>
      
          </header>
      

<main>


   <!-- ---------------------------------------------------------------------------
      CAROUSEL 
    --------------------------------------------------------------------------------- --> 
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel" > <!-- data-interval="2000" -->

    <!-- Carousel - Buttons -->  
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>

    <!-- Carousel content -->      
    <div class="carousel-inner">
      

      <!-- First slide of the carousel.-->      
      <div class="carousel-item active">

        <!-- First Pciture -->   
        
        <img src="{{url_for('static', filename='img/montagnes/monterosa-summit.jpg')}}" class="img-fluid">


        <div class="container">
          <!-- Headline/Content for the first slide of the carousel.-->          
          <div class="carousel-caption text-start">
            <h1>Les 7 plus hautes montagnes de Suisse</h1>   
            <h3>Les 7 points culminants de la Suisse</h3>
            <!-- First button -->
            <p><a class="btn btn-lg btn-primary" href="https://www.redbull.com/ch-fr/les-plus-hautes-montagnes-suisse">En savoir plus</a></p>
          </div>
        </div>
      </div>
      <!-- Carousel - Second slide-->   
      <div class="carousel-item">
        <img src="{{url_for('static', filename='img/montagnes/GrindelwaldBE-EigerMoenchJungfrau.webp')}}" class="feaurette-image img-fluid mx-auto">

        <div class="container">
          <div class="carousel-caption">
            <h1>Montagnes & Glaciers</h1>
            <h3>Les meilleures attractions</h3>
            <p><a class="btn btn-lg btn-primary" href="https://www.myswitzerland.com/fr-ch/destinations/nature/montagnes/">En savoir plus</a></p>
          </div>
        </div>
      </div>    
      <!-- Carousel - Third slide-->   
      <div class="carousel-item">
        <img src="{{url_for('static', filename='img/montagnes/lacs-suisse.webp')}}" class="feaurette-image img-fluid mx-auto">

        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Lacs et cours d’eau</h1>
            <h3>Lacs de montagne</h3>
            <p><a class="btn btn-lg btn-primary" href="https://fr.wikipedia.org/wiki/Portail:Lacs_et_cours_d%27eau">En savoir plus</a></p>
          </div>
        </div>
      </div>
      <!-- Carousel - Fourth slide--> 
      <div class="carousel-item">
        <img src="{{url_for('static', filename='img/montagnes/jura.jpg')}}" class="feaurette-image img-fluid mx-auto">


        <div class="container">
          <div class="carousel-caption text-end">
            <h1>La chaine de montagneuse du Jura</h1>
            <h3>Perspective européenne de la culture et histoire suisse</h3>
            <p><a class="btn btn-lg btn-primary" href="https://www.swiss-spectator.ch/fr/de-geheimen-van-de-jura/">En savoir plus</a></p>
          </div>
        </div>
      </div>


    </div>

    <!--Carousel  Nav-Button (Previous/Next )-->
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

  </div><!-- END Carousel -->

   <!-- ---------------------------------------------------------------------------
      MARKETING MESSAGING (1 ROW/3 COLUMNS)
    --------------------------------------------------------------------------------- -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">

      <!-- FIRST col-lg-4 -->
      <div class="col-lg-4">
        <a href="https://www.redbull.com/ch-fr/les-plus-hautes-montagnes-suisse" ><img src="{{url_for('static', filename='img/montagnes/monterosa-summit.jpg')}}"  alt="HTML tutorial" class="bd-placeholder-img rounded-circle" width="140" height="140" ></a>
        
        <h2>Les Alpes suisses</h2>

        <p>
          Les massifs alpins recouvrent 60 % de ce beau pays qu’est la Suisse. Les Alpes suisses s’étirent du lac Léman jusqu’à la frontière autrichienne. 
          De nombreux glaciers et 48 sommets dépassant les 4000 mètres d’altitude, et le pic le plus haut est la pointe Dufour, culminant à 4634 mètres. 
          Ce relief escarpé accueille de nombreuses forêts et une multitude de lacs créant ainsi des paysages de toute beauté.</p>

        <p><a class="btn btn-secondary" href="https://fr.wikipedia.org/wiki/Alpes_suisses">Voir détails &raquo;</a></p>
      </div><!-- END /.col-lg-4 -->

      <!-- SECOND col-lg-4 -->
      <div class="col-lg-4">
        <a href="https://fr.wikipedia.org/wiki/Davos" >
            <!--- IMAGE -->
            <img src="{{url_for('static', filename='img/montagnes/davos-flag.png')}}" 
          alt="HTML tutorial" class="bd-placeholder-img rounded-circle" width="140" height="140" >
        </a>
        <h2>Davos</h2>
        <p>La ville de Davos est célèbre pour accueillir chaque année le Forum économique mondial (World Economic Forum), une réunion des dirigeants de la planète et des élites économiques mondiales.
        <br>
          Davos est aussi connue en tant que station de sports d'hiver, et organise des événements tels que la Coupe Spengler en hockey sur glace, à laquelle l'équipe locale, le HC Davos participe.</p>
        <p><a class="btn btn-secondary" href="https://fr.wikipedia.org/wiki/Davos">Voir détails &raquo;</a></p>
      </div><!-- END /.col-lg-4 -->

      <!-- THIRD col-lg-4 -->
      <div class="col-lg-4">
        <a href="https://fr.wikipedia.org/wiki/Glacier_d%27Aletsch" ><img 
          src="{{url_for('static', filename='img/montagnes/GlacierAletschgletscher-Eggishorn.jpg')}}"  
          alt="HTML tutorial" class="bd-placeholder-img rounded-circle" width="140" height="140" ></a>
       


        <h2>Les glaciers suisses</h2>
        <p>
          La plupart des glaciers suisses se trouvent dans les Alpes valaisannes, les Alpes grisonnes et l’Oberland bernois. 
          Le plus grand glacier des Alpes et de la Suisse est le <a href="https://fr.wikipedia.org/wiki/Glacier_d%27Aletsch" >glacier d’Aletsch</a> et classé au patrimoine mondial de l’UNESCO. 
          Situé dans le canton du Valais (Sud de la Suisse), il est entouré au nord par le massif de la Jungfrau, au sud par la vallée du Rhône, à l'est par le lac Märjelen et à l'ouest par l'Aletschhorn.
        </p>

        <p><a class="btn btn-secondary" href="https://www.myswitzerland.com/fr-ch/destinations/nature/montagnes/glaciers/">Voir détails &raquo;</a></p>
      </div><!-- END /.col-lg-4 -->

    </div><!-- /.row -->



    <!-- ---------------------------------------------------------------------------
      START THE FEATURETTES  3X (1 ROW / 2 COLUMNS)
    --------------------------------------------------------------------------------- -->

    <hr class="featurette-divider">

    <!-- FIRST FEATURETTES ROW-->
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Le glacier d'Alertsch</h2>
        <h2><span class="text-muted">Incroyablement grand, incroyablement beau</span></h2>
        <p class="lead"> 
          La région d'Aletsch et son glacier figurent au patrimoine mondial de l'Unesco avec ses incroyables 11 milliards de tonnes de glace.  
          Les masses de glace s’étirent le long des flancs nord de l’Eiger, du Mönch et de la Jungfrau en direction du Valais, leurs eaux de fonte s’écoulant dans le Rhône par la gorge de la Massa.    
        </p>
      </div>
      <div class="col-md-5">



          <a href="https://www.myswitzerland.com/fr-ch/destinations/aletsch-joyau-naturel-et-plus-grand-glacier-des-alpes/" >
            <img 
            src="{{url_for('static', filename='img/montagnes/AletschArena.jpg')}}" 
            alt="HTML tutorial" 
            class="feaurette-image img-fluid mx-auto">
          </a>

      </div>
    </div>

    <hr class="featurette-divider">

    <!-- SECOND FEATURETTES ROW-->
    <div class="row featurette">

      <div class="col-md-7 order-md-2">  
        
      <h2 class="featurette-heading">La pointe Dufour (Dufourspitze)</h2>
      <h2><span class="text-muted">Incroyablement culminante, 4'634 m</span></h2>
      <p class="lead"> 
        La Pointe Dufour est le plus haut sommet de Suisse et l’un des dix principaux sommets du massif du Mont Rose. 
        Elle fait concurrence au Dom, la plus haute montagne entièrement située sur territoire suisse. 
      </p>
    </div>

      <div class="col-md-5 order-md-1">
        <a href="https://www.zermatt.ch/fr/Media/Attractions/Pointe-Dufour" >


          <!--- IMAGE -->
          <img 
            src="{{url_for('static', filename='img/montagnes/pointeDufour.jpg')}}" 
            alt="HTML tutorial" 
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" 
            width="500" height="500" 
          ></a>
      
      </div>
    </div><!-- END /.FEATURETTES-->

    <hr class="featurette-divider">
    <!-- THIRD FEATURETTES ROW-->
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Chemins de fer et téléphériques</h2>
      <h2> <span class="text-muted">Excursions en montagne</span></h2>
        <p class="lead">
          Les Alpes majestueuses suisses, sont un lieu de prédilection pour les excursions en montagne. 
          On y trouve des pics enneigés et de npmbreux sentiers pédestres. 
          Le trajet vers le sommet est toujours une attraction, qu’il se fasse à bord d’un train à crémaillère, 
          d’un téléphérique ou du funiculaire le plus raide au monde.       
        </p>
      </div>
      <div class="col-md-5">
        <a href="https://www.myswitzerland.com/fr-ch/decouvrir/voyages-thematiques/remontees-mecaniques/" >
          <!--- IMAGE -->
          <img  
            src="{{url_for('static', filename='img/montagnes/les_diablerets.webp')}}"  
            alt="HTML tutorial" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" 
            width="500" height="500" ></a>   
      </div>
    </div><!-- END /.FEATURETTES-->

    <hr class="featurette-divider">


  </div><!-- END /.container MARKETING -->



</main>

    <!-- -------------------------------------------------------------------
      FOOTER | PEID DE PAGE 
    ------------------------------------------------------------------- --> 
    <footer class="py-5">
      <div class="container">
        <div class="row">
          
        <div class="col-6 col-md-2 mb-3">
            <h5>Art et Education</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="{{url_for('culture')}}"  class="nav-link p-0 text-muted">Culture</a></li>
              <li class="nav-item mb-2"><a href="{{url_for('art')}}"    class="nav-link p-0 text-muted">Art</a></li>
              <li class="nav-item mb-2"><a href="{{url_for('education')}}"    class="nav-link p-0 text-muted">Education</a></li>
              <li class="nav-item mb-2"><a href="{{url_for('histoire')}}"    class="nav-link p-0 text-muted">Histoire </a></li>              
            </ul>
          </div>

          <div class="col-6 col-md-2 mb-3">
            <h5>Culture et Histoire</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="{{url_for('histoire')}}"    class="nav-link p-0 text-muted">Histoire </a></li>      
              <li class="nav-item mb-2"><a href="{{url_for('culture')}}"  class="nav-link p-0 text-muted">Culture</a></li>
              <li class="nav-item mb-2"><a href="{{url_for('geographie')}}"  class="nav-link p-0 text-muted">Geographie</a></li>
              <li class="nav-item mb-2"><a href="{{url_for('economie')}}"  class="nav-link p-0 text-muted">Economie</a></li>
            </ul>
          </div>

          <div class="col-6 col-md-2 mb-3">
            <h5>Nos services</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="{{url_for('usercompte')}}"  class="nav-link p-0 text-muted">Compte utilisateur</a></li>           
              <li class="nav-item mb-2"><a href="{{url_for('apropos')}}"  class="nav-link p-0 text-muted">About | A propos</a></li>  
              <li class="nav-item mb-2"><a href="{{url_for('welcome')}}"  class="nav-link p-0 text-muted">Home | Accueil</a></li> 
              <li class="nav-item mb-2"><a href="{{url_for('faq')}}"  class="nav-link p-0 text-muted">FAQs</a></li>                  
            </ul>
          </div>

          <div class="col-md-5 offset-md-1 mb-3">
            <form>
              <h5>S'abonner à notre lettre d'information</h5>
              <p>Un bulletin d'information mensuel sur les nouveautés et les événements les plus excitants.</p>

              <!-- 
              <h5>Subscribe to our newsletter</h5>
              <p>Monthly digest of what's new and exciting from us.</p>              
              --> 
              <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                <label for="newsletter1" class="visually-hidden">Email address</label> <!-- Email address -->
                <input id="newsletter1" type="text" class="form-control" placeholder="Adresse e-mail">
                <button class="btn btn-primary" type="button">S'abonner</button><!-- Subscribe-->
              </div>
            </form>
          </div>
        </div>

        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
            <p>
              &copy;
              <script type="text/javascript"> document.write(new Date().getFullYear());</script> 
              HBaytar, Inc. All rights reserved. 
            </p>

            <!-- Social Media Icons in Footer -->  
            <div id="social-buttons">
              <a href="#" rel="me"><img title="Portail Suisse bei Facebook" src="{{url_for('static', filename='img/footer/footfacebook.png')}}" alt="Facebook Button" /></a>
              <a href="#" rel="me"><img title="Portail Suisse bei Skype" src="{{url_for('static', filename='img/footer/footskype.png')}}" alt="Skype Button"/></a>
              <a href="#" rel="me"><img title="Portail Suisse bei Flickr" src="{{url_for('static', filename='img/footer/footflickr.png')}}" alt="Flickr Button" /></a>
              <a href="#" rel="me"><img title="Portail Suisse bei Google" src="{{url_for('static', filename='img/footer/footgoogle.png')}}" alt="Google Button" /></a>
              <a href="#" rel="me"><img title="Portail Suisse bei Reddit" src="{{url_for('static', filename='img/footer/footreddit.png')}}" alt="Reddit Button" /></a>
              <a href="#" rel="me"><img title="Portail Suisse bei Twitter" src="{{url_for('static', filename='img/footer/foottwitter.png')}}" alt="Twitter Button" /></a>
              <a href="#" rel="me"><img title="Portail Suisse bei WhatsApp" src="{{url_for('static', filename='img/footer/footwhatsapp.png')}}" alt="WhatsApp Button" /></a>
            </div>
        </div>
    </div>
  </footer>
 
    <!-- -------------------------------------------------------------------
      IMPORT SCRIPT(S) | IMPORTATION DE SCRIPT(S)
    ------------------------------------------------------------------- -->  
    <!-- 
      IMPORT FILE WITH PYTHON - DOES NOT WORK !!! 
      <link type="text/javascript"  href="{{url_for('static', filename='bootstrap-5.3.3/dist/js/bootstrap.bundle.min.js', _external=True)}}"> 
    -->           
    <!-- fichier Bootstrap/JS -->     
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    
    <script>
      const myCarouselElement = document.querySelector('#myCarousel') 
      const carousel = new bootstrap.Carousel(myCarouselElement, {interval: 2000, touch: false})
    </script> 
  

     <!--  
        SCRIPT JQuery 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>


        SCRIPT JAVASCRIPT  
        Placez les les balises de SCRIPT JS avant la fin de corps </body> 
        <script 
          type="text/javascript"
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
          crossorigin="anonymous">
        </script>

        <script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
        <script src="../bootstrap/js/bootstrap.bundle.min.js"></script>        

      -->

    </body><!-- /.BODY -->
</html>
